<html>
<head>
<title>       </title>
<style type="text/css">
<!--
h1	{text-align:center;
	font-family:Arial, Helvetica, Sans-Serif;
	}

p	{text-indent:20px;
	}
-->
</style>
</head>
<body bgcolor = "#ffffcc" text = "#000000">
<h1>About this Alpha Blog</h1>

<p>I grabbed this HTML from a website. I just wanted a template that I could
easily copy and paste. This page will most likely include information that will
describe my blog in the future.</p>

<%= link_to 'Home', root_path %>

</body>
</html>
