<h1>Listing of All Articles for <%= @category.name %></h1>

<% if logged_in? && current_user.admin? %>
  <div class="row">
    <span class="badge"><%= link_to "Edit Category Name", edit_category_path(@category) %></span>
  </div>
<% end %>

<%= render 'articles/article', obj: @category.articles %>
